.vod-container {
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.vod-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.vod-item img {
  width: 100%; /* Full width of the parent */
  height: auto; /* Maintain aspect ratio */
  max-height: 95%; /* Limit height to leave space for the title */
}

.vod-item .title {
  text-align: center; /* Center text horizontally */
  font-size: 12px;
  color: #fff; /* Color for the title */
  width: 100%; /* Full width of the parent */
  padding: 5px 0; /* Add some padding at the top and bottom */
}

.vod-item {
  margin-bottom: 5px; /* Space between items */
  transition: transform 0.3s ease;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  width: 100%; /* Set a width for the item */
  height: 100%; /* Set a height for the item */
  margin: 0px;
  background-color: #000; /* Set a background color for visibility */
}

.vod-item:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.vod-item img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners for images */
  transition: filter 0.3s ease;
}

.vod-item:hover img {
  filter: brightness(0.9); /* Slightly darken image on hover */
}

.vod-item .title {
  font-weight: bold; /* Bold title text */
  margin-top: 10px; /* Space between image and title */
  text-align: center; /* Center-align the title */
}

.vod-item .title a {
  color: #fdfdfd; /* Color of the title */
  text-decoration: none; /* No underline */
  transition: color 0.3s ease;
}

.vod-item .title a:hover {
  color: #007bff; /* Color change on hover */
}