body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* makes sure it fits screen height */
    color: aliceblue;
    background-color: black;
    
  }
  
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* take available vertical space */
  }

  .main-content {
    display: flex;
    flex-grow: 1; /* allow it to grow and consume any available space */
  }
  
.broadcast-window-wrapper {
    flex: 1;
    background-color: #202020;  /* fallback background color */
  }
  
  .broadcast-window {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("images/TVHead_WireFrame.png");
    background-size: cover;  /* Scale the background image to be as large as possible */
    background-position: center;  /* Center the background image */
  }
  
  
  .broadcast-window-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  .sidebar {
    width: 300px;
    background-color: black;
    transition: width 0.3s;
    overflow-x: hidden;
    text-wrap: nowrap;
    font-size: smaller; 
  }
  
  .sidebar-left {
    float: left;
  }
  
  .sidebar-right {
    float: right;
  }
  
  .sidebar.collapsed {
    width: 20px;
  }
  
  .toggle-button {
    position: relative;
    right: 0;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
  }
  
  .footer {
    flex-shrink: 0; /* make sure it doesn't shrink */
    background-color: black;
    align-items: center;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
    }
  }

  /* HUD styles */
.hud {
  flex-direction: row;
  flex-wrap: nowrap;
  position: rele;
  bottom: 1vw; /* Distance from the bottom */
  gap: 1em; /* Space between badges */
  background-color: black;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Stacked layout for smaller screens */
@media (max-width: 768px) {
  .hud {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
  }
}

.badge {
  min-width: 50px; /* Set a minimum width */
  width: 3vw; /* Adjust size as needed */
  filter: grayscale(1); /* Desaturate the badge */
  opacity: 0.8; /* Make it slightly transparent */
  position: relative; /* To position the tooltip */
  z-index: 500;  /* ensure it's above other elements */
}

.badge:hover {
  filter: grayscale(0); /* Fully colored on hover */
  opacity: 1; /* Fully opaque on hover */
}

.badge::before {
  content: attr(data-tooltip); /* Use data attribute for tooltip text */
  position: absolute;
  bottom: 100%; /* Place it above the badge */
  left: 50%;
  transform: translateX(-50%) translateY(10px);  /* combining the two transforms */
  background-color: rgba(0, 255, 0, 0.9); /* Green background with slight transparency */
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap; /* Prevent the text from wrapping */
 
}

.badge:hover::before {
  opacity: 1;
 
}
  